# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore VS Code settings and workspace files
.vscode/

# Ignore log file from assignment-03/odd-and-even
assignment-03/odd-and-even/match_*